@import '../../constants/styles';
@import '../../constants//overlay';

.AnnotationContentOverlay {
  @extend %overlay;
  @extend %word-wrap;

  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 8px;

  .author {
    font-weight: bold;
  }

  .contents, .replies {
    margin-top: 5px;
    white-space: pre-wrap;
  }
}